
    .worldMap {
        background-color: #04020f;

        .selected {
            fill: #fafafa;

            * {
                fill: #fafafa;
            }

            &:hover {
                fill: firebrick;

                * {
                    fill: firebrick;
                }
            }
        }

        .guessed {
            fill: green;

            * {
                fill: green;
            }
        }

        .small:hover {
            filter: url(#shadow);

            * {
                filter: url(#shadow);
            }
        }

        .xsmall {
            // -webkit-transform-origin: center;
            transform-origin: center;
            transform-box: fill-box;

            &:hover {
                // -webkit-transform: scale(3);
                // -webkit-transform-origin: center;
                // -webkit-transition: 1s;
                transform: scale(3);
                transform-origin: center;
                transition: 0.7s;
            }
        }
    }

    .upperCont {
        background-color: rgba(223, 217, 237, 0.8);
        height: 10vh;
        width: 100%;
        border-radius: 20px 20px 0 0;
        text-align: center;
        padding-bottom: 20px;
        padding: 10px 0 20px 0;
    }

    .lowerCont {
        background-color: rgba(223, 217, 237, 0.8);
        height: 10vh;
        width: 100%;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding-top: 30px;
    }

    // menuBar colors and flashing:

    @keyframes greenFlash {
        0%   {background-color: #f1f1f1;}
        100% {background-color: #008000;}
    }

    @keyframes redFlash {
        0%   {background-color: #f1f1f1;}
        100% {background-color: #b22222;}
    }

    .green {
        animation: greenFlash 0.2s ease-out 2 alternate;
    }
    .red {
        animation: redFlash 0.2s ease-out 2 alternate;
    }
    



    .sun {
        // position: absolute
        z-index: 8;
        top: 75vh;
        left: 50%;
        width: 140%;
        transform: translateX(-50%);

        @media only screen and (max-width: 576px) {
            width: 300%;
        }

        @media only screen and (max-width: 992px) {
            width: 220%;
        }
    }