.table {
    border-collapse: collapse;
    // padding-top: 1rem;

    .header {
        font-size: 1.6rem;
        padding-bottom: 0.8rem;
    }

    tr {
        &:hover {
            background-color: rgb(241, 241, 241);
        }
        &:not(:last-child) {
            border-bottom: 1px solid black;
            
        }
        td {
            padding: 0.3rem;
            text-align: center;
            &:last-child {
                padding-right: 3rem;
            }
            &:first-child {
                padding-left: 3rem;
            }
        }
    }
    

    .oldScores {
        font-size: 1.2rem;
    }

    .newHighScore {
        font-size: 1.4rem;
        color: #008000;
    }

    .newLowScore {
        font-size: 1.4rem;
        color: #b22222;
    }

}