@use "../styles/mixin.scss" as mixin;

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes wobble {
    from {
        transform: rotate(-6deg);
    }

    to {
        transform: rotate(6deg);
    }
}

@keyframes float {

    from {
        transform: translateY(0%);
    }
    
    to { 
        transform: translateY(10%);
    }
    
}

.background {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: relative;
    background-color: #04020f;
    overflow: hidden;

    .starContainer {
        position: absolute;
        z-index: 1;
        .star {
            display: inline-block;
            animation: pulse 0.6s ease-in-out infinite alternate;
            
        }
    }

    .globeContainer {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;

        .globe {
            position: relative;
            width: auto;
            height: 60vh;
            animation: spin 400s linear 0s infinite normal;
        }

    }
    .startContainer {
        z-index: 6;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: scale(1) translateX(-50%);
        
        &:hover {
            transform: scale(1.4) translateX(-50%);
            transform-origin: left top;
            transition: 0.1s linear;
        }

        .startBtn {
            display: inline-block;
            padding: 0 16px;
            background-color: #c70b0b;
            text-decoration: none;
            font-family: Calistoga, monospace;
            font-weight: 900;
            color: #ffffff;
            font-size: 3rem;
            border-radius: 10px;
            border-width: 0;
            box-shadow: 2px 2px 8px black;
            animation: wobble 1s ease-in-out 0s infinite alternate;
            cursor: pointer;

            &:hover {
                animation-iteration-count: 0;
            }
            &.start {
                display: none;
            }
        }
    }

    .ufoContainer {
        position: absolute;
        z-index: 5;
        animation: float 1.4s ease-in-out 0s infinite alternate;
        left: 90%;
        @include mixin.tablet {
            left: 75%;
        }
        @include mixin.mobile {
            left: 80%;
            top: -5%;
        }

        .ufo {
            position: relative;
            height: 12vh;
            animation: wobble 0.5s ease-in-out 0s infinite alternate;
            @include mixin.tablet {
                height: 14vh;
            }
            @include mixin.mobile {
                height: 19vh;
            }
        }

        .langsContainer {
            font-family: Calistoga;
            position: relative;
            top: -3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mixin.mobile {
                top: -7vh;
            }

            .flag {
                height: 1rem;
            }

            .lngSelector {
                background-color: #f5f4cb;
                font-family: Calistoga;
                box-shadow: #d2d1ac 0 -3px 0 inset;
                font-size: 1rem;
                border-radius: 40% 40% 0 0;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                @include mixin.mobile {
                    width: 60%;
                }
            }
            .list {
                transition: transform 0.3s ease, opacity 0.3s ease;
                transform-origin: top;
                cursor: pointer;
                background-color: #f5f4cb;
                color: #36395A;
                font-size: 1rem;
                border-radius: 0 0 4px 4px;
                width: 50%;
                @include mixin.mobile {
                    width: 60%;
                }

                .lng {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    &:hover {
                        background-color: #d2d1ac;
                    }
                }
            }

            .open {
                transform: scaleY(1);
                opacity: 1;
                pointer-events: auto;
            }
            .close {
                transform: scaleY(0);
                opacity: 0;
                pointer-events: none;
            }

        }
    }

    .sunContainer {
        position: absolute;
        z-index: 8;
        top: 75vh;
        left: 50%;
        width: 140%;
        transform: translateX(-50%);
        @include mixin.mobile {
            width: 300%
        }
        @include mixin.desktop {
            width: 220%;
        }
        
        .sun {
            animation: spin 400s linear 0s infinite normal;
        }

        &.start {
            transform: scale(2);
            top: 0;
            left: -30%;
            transition: 1s linear;
        }
    }    
    





    
    
}