@use "../styles/mixin.scss" as mixin;

.green {
    background-color: aqua;
}
.bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100vw;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 8px black;


    .countryName {
        font-family: 'Calistoga';
        font-size: 2rem;
        @include mixin.mobile {
            font-size: 1.8rem;
        }
    }

    .infoCont {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-right: 30px;
        @include mixin.mobile {
            padding-right: 10px;
            gap: 20px;
        }

        .info {
            font-family: 'Azeret Mono';
            font-size: 1.3rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 20px;
            @include mixin.mobile {
                flex-direction: column;
                font-size: 1rem;
                gap: 0;
            }
        }  
    }
}
